image:
  repository: javamachr/gardener-extension-shoot-fleet-agent
  tag: latest
  pullPolicy: Always

resources:
  requests:
   cpu: "50m"
   memory: "64Mi"
  limits:
   cpu: "50m"
   memory: "128Mi"

vpa:
  enabled: true
  # resourcePolicy:
  #   minAllowed:
  #     cpu: 100m
  #     memory: 128Mi
  updatePolicy:
    updateMode: "Auto"

controllers:
  concurrentSyncs: 1
  ignoreOperationAnnotation: false
  healthcheck:
    concurrentSyncs: 1

fleetManager:
  #default config values
  kubeconfig: #base64encoded kubeconfig of fleet manager cluster comes here
  labels: # optional fleet Cluster crd labels
  namespace: clusters # namespace where Fleet clusters stores Cluster CRD objects
  #project specific values
#  projectConfig:
#    myproject:
#      kubeconfig: #base64encoded kubeconfig of fleet manager cluster for myproject comes here
#      labels: # optional fleet Cluster crd labels for myproject
#      namespace: clusters # namespace where Fleet clusters stores Cluster CRD objects for myproject
#    myotherproject:
#      kubeconfig: #base64encoded kubeconfig of fleet manager cluster for myotherproject comes here
#      labels: # optional fleet Cluster crd labels for myotherproject
#      namespace: clusters # namespace where Fleet clusters stores Cluster CRD objects for myotherproject

disableControllers: []

# imageVectorOverwrite: |
#   images:
#   - name: fleet-management
#     sourceRepository: github.com/gardener/fleet-management
#     repository: eu.gcr.io/gardener-project/fleet-controller-manager
#     tag: "0.2.9"
